<div class="editting_form container">
  <h1>こんにちは、<%= @user.name %>さん</h1>

  <div class="action_order">登録メールアドレスは<%= @user.email %>です</div>

  <div class="move_pages">
    <% if logged_in? %>
      <p><%= link_to "投稿一覧を見る", howls_path, class: "move_pages_function" %></p>
      <p><%= link_to "新規投稿をする", new_howl_path, class: "move_pages_function" %></p>
      <p><%= link_to "Topに戻る", root_path, class: "move_pages_function" %></p>
      <p><%= link_to "ログアウト", session_path(current_user.id), method: :delete, data: {confirm: "本当にログアウトしますか？"}, class: "confirm_function" %></p>
    <% else %>
      <p><%= link_to "早速Howlを始める", new_session_path, class: "confirm_function" %></p>
      <p><%= link_to "Topに戻る", root_path, class: "move_pages_function" %></p>
    <% end %>
  </div>
</div>
